* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #d1b632, #f88925);
    color: whitesmoke;
    min-height: 100vh;
}

header {
    font-family: 'poppins', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 10vh;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    form {
        flex-wrap: wrap;
    }
}

form input,
form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background-color: whitesmoke;
}

form button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all 0.3s linear;
    color: #ff6f47;
    padding-left: 0.8rem;
}

form button:hover {
    color: whitesmoke;
    background-color: #ff6f47;
}

form input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: hsl(235, 19%, 35%);
    font-family: 'Fraunces', serif;
}

form input:focus {
    border: 1px solid hsl(234, 11%, 52%);
    box-shadow: 0 0 3px hsl(234, 11%, 52%);
    outline-offset: 0px;
    outline: none;
}

.input-style {
    text-align: center;
    color: wheat;
    list-style: none;
}

.todo {
    list-style: none;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: wheat;
    color: hsl(235, 19%, 35%);
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
    font-size: 1.2rem;
}

.compelet-btn,
.trash-btn {
    border: none;
    padding: 1rem;
    background-color: #ff6f47;
    color: whitesmoke;
    transition: all 0.3s linear;
}

.trash-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.compelet-btn {
    background: rgb(57, 202, 113);
}

.compelet-btn:hover {
    color: rgb(57, 202, 113);
    background-color: whitesmoke;
}

.trash-btn:hover {
    color: #ff6f47;
    background-color: whitesmoke;
}

.list-item {
    padding-left: 1rem;
}

.compeletox {
    opacity: 0.5;
    text-decoration: line-through;
}

.bakete {
    transform: translateY(8rem) rotateZ(30deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    position: relative;
    overflow: hidden;
    margin: 1rem;
}

select {
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 5px;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff6f47;
    padding: 0.8rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.5s ease;
}

.select:hover::after {
    background-color: whitesmoke;
    color: #ff6f47;
}